body {
  font-family: arial;
  font-size: 14px;
  color: #222;
  background: #f5f5f5;
}

/* Global Banner */
#global-banner {
  background: #cd020b;
  text-align: center;
}
/* End Global Banner */

/* Header Top */
#header-top-left,
#header-top-right {
  height: 30px;
  line-height: 30px;
}

#header-top-left a,
#header-top-right a {
  font-size: 12px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

#header-top-left i,
#header-top-right i {
  color: #cd020b;
}

#header-top-left a:hover,
#header-top-right a:hover {
  cursor: pointer;
  color: #ee2e24;
}

#header-top-right {
  text-align: right;
}

#header-top-right a {
  margin-left: 45px;
}
/* End Header Top */

/* Header Main */
#header-main {
  background: #fff;
}

#logo h1 {
  margin: 0;
}

#logo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#search form {
  display: flex;
  margin-top: 23px;
}

#search form input {
  width: 330px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  background: #f5f5f5;
  border: none;
  border-radius: 10px 0 0 10px;
}

#search form button {
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 0 10px 10px 0;
  background: #ee2e24;
  color: #fff;
}

#header-main-top-right {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}

#header-main-top-right a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

/* header-main-top-right */
#follow a,
#user a {
  position: relative;
  display: block;
  padding-left: 40px;
}

#follow a::before,
#user a:first-child::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: 0;
  top: 5px;
  transition: all 0.2s;
}

#follow a::before {
  background: url(../images/sprite.png) no-repeat -6px -8px;
}

#user a:first-child::before {
  background: url(../images/sprite.png) no-repeat -52px -8px;
}

#user a:last-child {
  font-weight: normal;
}

#cart {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/sprite.png) no-repeat -100px -8px;
  margin-top: 5px;
}

#cart span {
  position: absolute;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
  top: -7px;
  right: -7px;
}

#follow a:hover::before,
#user:hover a:first-child::before {
  top: 0;
}

#follow a:hover,
#user a:hover {
  cursor: pointer;
  color: #ee2e24;
}

#cart:hover {
  cursor: pointer;
}

/* header-main-bottom-right */
#header-main-bottom-right {
  display: flex;
  justify-content: space-between;
}

#header-main-bottom-right a {
  position: relative;
  height: 40px;
  line-height: 40px;
  color: #333;
  text-decoration: none;
  padding-left: 40px;
}

#header-main-bottom-right a:nth-child(1) {
  font-weight: bold;
}

#header-main-bottom-right a::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: 0;
  top: 5px;
}

#header-main-bottom-right a:nth-child(1)::before {
  background: url(../images/sprite.png) no-repeat -8px -52px;
}

#header-main-bottom-right a:nth-child(2)::before {
  background: url(../images/sprite.png) no-repeat -58px -52px;
}

#header-main-bottom-right a:nth-child(3)::before {
  background: url(../images/sprite.png) no-repeat -112px -52px;
}

#header-main-bottom-right a:nth-child(4)::before {
  background: url(../images/sprite.png) no-repeat -166px -52px;
}

#header-main-bottom-right a:nth-child(4) i {
  color: #ee2e24;
  font-size: 18px;
  font-weight: bold;
}

#header-main-bottom a:hover {
  color: #ee2e24;
}
/* End Header Main */

/* HomePage */
/* homepage-menu menu */
#menu {
  margin-top: -40px;
}

#menu h3 {
  margin: 0;
  padding: 0 10px;
  background: #df2b21;
  border-radius: 10px 10px 0 0;
}

#menu h3 a {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

#menu h3 a i {
  margin-right: 10px;
}

#menu h3:hover {
  cursor: pointer;
}

#menu ul {
  margin: 0;
  padding: 0;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.25);
}

#menu ul > li {
  position: relative;
  list-style: none;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 20px 0 10px;
  background: #fff;
}

#menu ul > li a {
  text-decoration: none;
  color: #333;
  padding-left: 30px;
}

#menu ul > li i {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #c9c9c9;
}

#menu ul > li:nth-child(1) a {
  background: url(../images/cat_icon_1.png) no-repeat left center;
}

#menu ul > li:nth-child(2) a {
  background: url(../images/cat_icon_2.png) no-repeat left center;
}

#menu ul > li:nth-child(3) a {
  background: url(../images/cat_icon_3.png) no-repeat left center;
}

#menu ul > li:nth-child(4) a {
  background: url(../images/cat_icon_4.png) no-repeat left center;
}

#menu ul > li:nth-child(5) a {
  background: url(../images/cat_icon_5.png) no-repeat left center;
}

#menu ul > li:nth-child(6) a {
  background: url(../images/cat_icon_6.png) no-repeat left center;
}

#menu ul > li:nth-child(7) a {
  background: url(../images/cat_icon_7.png) no-repeat left center;
}

#menu ul > li:nth-child(8) a {
  background: url(../images/cat_icon_8.png) no-repeat left center;
}

#menu ul > li:nth-child(9) a {
  background: url(../images/cat_icon_9.png) no-repeat left center;
}

#menu ul > li:nth-child(10) a {
  background: url(../images/cat_icon_10.png) no-repeat left center;
}

#menu ul > li:nth-child(11) a {
  background: url(../images/cat_icon_11.png) no-repeat left center;
}

#menu ul > li:nth-child(12) a {
  background: url(../images/cat_icon_12.png) no-repeat left center;
}

#menu ul > li:hover a {
  cursor: pointer;
  font-weight: bold;
  color: #cd020b;
}

#menu ul > li:hover {
  cursor: pointer;
  background: #f5f5f5;
}
/* homepage-menu slider */
#slider {
  padding-top: 10px;
}

/* homepage-menu banner-right */
#banner-right {
  padding-top: 10px;
}

.banner-right-item {
  margin-bottom: 10px;
}

#banner-bottom {
  margin-top: 15px;
}

.banner-hover a {
  position: relative;
  display: block;
  overflow: hidden;
}

.banner-hover a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #fff;
  top: 0;
  left: -30%;
  transform: skew(-45deg);
}

.banner-hover a:hover::before {
  width: 130%;
  background: transparent;
  transition: all 0.4s;
}

/* Hot Products */
#hot-products {
  margin-top: 30px;
}

#hot-product > h3 {
  margin: 0;
  text-align: center;
  background: #ee2e24;
  border-radius: 10px 10px 0 0;
}

#hot-product h3 i {
  position: relative;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding-left: 53px;
}

#hot-product h3 i::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  background: url(../images/sprite.png) no-repeat -8px -204px;
  left: 0;
  top: -8px;
}

#hot-product-main {
  position: relative;
  padding: 15px;
  border: 2px solid #ee2e24;
  border-radius: 0 0 10px 10px;
  background: #fff;
}

#view-all {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -21px;
  padding: 0 64px;
  background: #fff;
  border: 1px solid #ee2e24;
  border-radius: 60px;
}

#view-all a {
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ee2e24;
}

#view-all:hover {
  cursor: pointer;
  background: #ee2e24;
}

#view-all:hover a {
  cursor: pointer;
  color: #fff;
}

.products-list {
  margin-left: -5px !important;
  margin-right: -5px !important;
}

.product-item {
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.product-item-top {
  position: relative;
  display: block;
}

.product-item-top i {
  position: absolute;
  content: "";
  width: 48px;
  height: 20px;
  background: url(../images/icon-hot.png) no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

.product-item-top span {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  background: url(../images/icon-offer.png) no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
}

.product-item h3 {
  font-size: 14px;
}

.product-item h3 a {
  text-decoration: none;
  color: #333;
}

.product-item-price {
  display: flex;
}

.product-item-price p b {
  display: block;
  font-size: 16px;
  font-weight: bold;
  color: #ee2e24;
}

.product-item-price p del {
  font-size: 14px;
  color: #888;
}

.product-item-price span {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #eee;
  background: url(../images/bg-discount.png) no-repeat;
  background-size: contain;
  margin-left: 10px;
}

.product-slide-button {
  width: 48px;
  height: 48px;
  background: #999;
  border-radius: 100%;
  top: 40%;
}

.product-item:hover img {
  transform: translateY(-8px);
  transition: all 0.2s;
}

.product-item img {
  transition: all 0.2s;
}

/* tab-products */
.tab-product {
  margin-top: 40px;
}

.product-item-height {
  height: 335px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  background: inherit;
}

.product-item-bgbody {
  background: inherit;
}

.tab-product > ul > li > button {
  color: #555;
  text-transform: uppercase;
  height: 42px;
  line-height: 42px;
  padding: 0 15px;
  border: 1px solid #b7b7b7 !important;
  border-radius: 8px !important;
  margin-right: 5px !important;
}

.tab-product > ul > li > button:hover,
.tab-product > ul > li > button.active {
  color: #fff;
  background: #ee2e24 !important;
  border-color: #ee2e24 !important;
}
/* End HomePage */

/* Responsive */
/* Tablet */
@media (min-width: 768px) and (max-width: 992px) {
}
/* End Tablet */

/* Mobile */
@media (max-width: 768px) {
  /* Global Banner */

  /* End Global Banner */
  /* Header Top */
  #header-top-right {
    text-align: left;
  }

  #header-top-right a {
    margin-left: 5px;
  }

  #header-top-right a:nth-child(2) {
    display: none;
  }
  /* End Header Top */

  /* Header Main */

  /* End Header Main */

  /* HomePage */
  #menu {
    margin-top: 0;
  }

  /* End HomePage */
}
/* End Mobile */
