body {
  font-family: arial;
  font-size: 13px;
  color: #222;
  background: #f5f5f5;
}

/* Global Banner */
#global-banner {
  background: #cd020b;
  text-align: center;
}
/* End Global Banner */
/* ------------------------------ */

/* Header Top */
#header-top-left,
#header-top-right {
  height: 30px;
  line-height: 30px;
}

#header-top-left a,
#header-top-right a {
  font-size: 11px;
  font-weight: bold;
  color: #333;
  text-decoration: none;
}

#header-top-left i,
#header-top-right i {
  color: #cd020b;
}

#header-top-left a:hover,
#header-top-right a:hover {
  cursor: pointer;
  color: #ee2e24;
}

#header-top-right {
  text-align: right;
}

#header-top-right a {
  margin-left: 45px;
}
/* End Header Top */

/* Header Main */
#header-main {
  background: #fff;
}

#logo h1 {
  margin: 0;
}

#logo {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

#search form {
  display: flex;
  margin-top: 23px;
}

#search form input {
  width: 330px;
  height: 40px;
  line-height: 40px;
  padding-left: 20px;
  background: #f5f5f5;
  border: none;
  border-radius: 10px 0 0 10px;
}

#search form button {
  height: 40px;
  line-height: 40px;
  font-size: 22px;
  padding-left: 15px;
  padding-right: 15px;
  border: none;
  border-radius: 0 10px 10px 0;
  background: #ee2e24;
  color: #fff;
}

#header-main-top-right {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}

#header-main-top-right a {
  color: #333;
  font-weight: bold;
  text-decoration: none;
}

/* header-main-top-right */
#follow a,
#user a {
  position: relative;
  display: block;
  padding-left: 40px;
}

#follow a::before,
#user a:first-child::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: 0;
  top: 5px;
  transition: all 0.2s;
}

#follow a::before {
  background: url(../images/sprite.png) no-repeat -6px -8px;
}

#user a:first-child::before {
  background: url(../images/sprite.png) no-repeat -52px -8px;
}

#user a:last-child {
  font-weight: normal;
}

#cart {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  background: url(../images/sprite.png) no-repeat -100px -8px;
  margin-top: 5px;
}

#cart span {
  position: absolute;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  background: #000;
  color: #fff;
  font-weight: bold;
  text-align: center;
  border-radius: 100%;
  top: -7px;
  right: -7px;
}

#follow a:hover::before,
#user:hover a:first-child::before {
  top: 0;
}

#follow a:hover,
#user a:hover {
  cursor: pointer;
  color: #ee2e24;
}

#cart:hover {
  cursor: pointer;
}

/* header-main-bottom-right */
#header-main-bottom-right {
  display: flex;
  justify-content: space-between;
}

#header-main-bottom-right a {
  position: relative;
  height: 40px;
  line-height: 40px;
  color: #333;
  text-decoration: none;
  padding-left: 40px;
}

#header-main-bottom-right a:nth-child(1) {
  font-weight: bold;
}

#header-main-bottom-right a::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  left: 0;
  top: 5px;
}

#header-main-bottom-right a:nth-child(1)::before {
  background: url(../images/sprite.png) no-repeat -8px -52px;
}

#header-main-bottom-right a:nth-child(2)::before {
  background: url(../images/sprite.png) no-repeat -58px -52px;
}

#header-main-bottom-right a:nth-child(3)::before {
  background: url(../images/sprite.png) no-repeat -112px -52px;
}

#header-main-bottom-right a:nth-child(4)::before {
  background: url(../images/sprite.png) no-repeat -166px -52px;
}

#header-main-bottom-right a:nth-child(4) i {
  color: #ee2e24;
  font-size: 18px;
  font-weight: bold;
}

#header-main-bottom a:hover {
  color: #ee2e24;
}
/* End Header Main */
/* ------------------------------ */

/* HomePage */
/* homepage-menu menu */
#menu {
  position: relative;
  margin-top: -40px;
}

#menu h3 {
  margin: 0;
  padding: 0 10px;
  background: #df2b21;
  border-radius: 10px 10px 0 0;
}

#menu h3 a {
  height: 40px;
  line-height: 40px;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
}

#menu h3 a i {
  margin-right: 10px;
}

#menu h3:hover {
  cursor: pointer;
}

#menu > ul {
  margin: 0;
  padding: 0;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 8px #c1c1c1;
}

.menu-item:last-child > .menu-item-list {
  border-radius: 0 0 10px 10px;
}

.menu-item {
  list-style: none;
}

.menu-item-list {
  position: relative;
  list-style: none;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #e1e1e1;
  padding: 0 20px 0 10px;
  background: #fff;
}

.menu-item-list > a {
  text-decoration: none;
  color: #333;
  padding-left: 30px;
}

.menu-item-list > i {
  position: absolute;
  top: 8px;
  right: 10px;
  color: #c9c9c9;
}

.menu-item:nth-child(1) > .menu-item-list a {
  background: url(../images/cat_icon_1.png) no-repeat left center;
}

.menu-item:nth-child(2) > .menu-item-list a {
  background: url(../images/cat_icon_2.png) no-repeat left center;
}

.menu-item:nth-child(3) > .menu-item-list a {
  background: url(../images/cat_icon_3.png) no-repeat left center;
}

.menu-item:nth-child(4) > .menu-item-list a {
  background: url(../images/cat_icon_4.png) no-repeat left center;
}

.menu-item:nth-child(5) > .menu-item-list a {
  background: url(../images/cat_icon_5.png) no-repeat left center;
}

.menu-item:nth-child(6) > .menu-item-list a {
  background: url(../images/cat_icon_6.png) no-repeat left center;
}

.menu-item:nth-child(7) > .menu-item-list a {
  background: url(../images/cat_icon_7.png) no-repeat left center;
}

.menu-item:nth-child(8) > .menu-item-list a {
  background: url(../images/cat_icon_8.png) no-repeat left center;
}

.menu-item:nth-child(9) > .menu-item-list a {
  background: url(../images/cat_icon_9.png) no-repeat left center;
}

.menu-item:nth-child(10) > .menu-item-list a {
  background: url(../images/cat_icon_10.png) no-repeat left center;
}

.menu-item:nth-child(11) > .menu-item-list a {
  background: url(../images/cat_icon_11.png) no-repeat left center;
}

.menu-item:nth-child(12) > .menu-item-list a {
  background: url(../images/cat_icon_12.png) no-repeat left center;
}

.menu-item-list:hover a {
  cursor: pointer;
  font-weight: bold;
  color: #cd020b;
}

.menu-item-list:hover {
  cursor: pointer;
  background: #f5f5f5;
}

/* sub-menu */
.sub-menu {
  position: absolute;
  top: 40px;
  left: calc(100% - 5px);
  height: calc(100% - 40px);
  width: calc(300% + 5px);
  border-radius: 0 0 10px 10px;
  box-shadow: 0 0 8px #c1c1c1;
  background: #fff;
  display: none;
  overflow: auto;
  z-index: 20;
}

.sub-menu-custom {
  display: flex;
  padding: 15px;
}

.sub-menu-custom ul {
  padding: 0;
  width: 25%;
}

.sub-menu-custom ul li {
  list-style: none;
}

.sub-menu-custom ul li a {
  text-decoration: none;
  color: inherit;
}

.sub-menu-custom ul li:first-child a {
  text-transform: uppercase;
  font-weight: bold;
}

.sub-menu-custom ul li:hover a {
  cursor: pointer;
  color: #ee2e24;
}

.menu-item:hover .sub-menu {
  display: block;
}

/* homepage-menu slider */
#slider {
  padding-top: 10px;
}

#slider ol li {
  width: 7px;
  height: 7px;
  opacity: 1;
  border: none;
  border-radius: 100%;
  background: #7f480e;
}

#slider ol li:hover,
#slider ol li.active {
  background: #ffbf00;
}
/* End homepage-menu slider */

/* homepage-menu banner-right */
#banner-right {
  padding-top: 10px;
}

.banner-right-item {
  margin-bottom: 10px;
}

#banner-bottom {
  margin-top: 15px;
}

.banner-hover a {
  position: relative;
  display: block;
  overflow: hidden;
}

.banner-hover a::before {
  position: absolute;
  content: "";
  width: 0%;
  height: 100%;
  background: #fff;
  opacity: 0.5;
  top: 0;
  left: -20%;
  transform: skew(-30deg);
}

.banner-hover a:hover::before {
  width: 140%;
  background: transparent;
  transition: all 0.6s;
}
/* End homepage-menu banner-right */

/* Hot Products */
#hot-products {
  padding-top: 25px;
  padding-bottom: 40px;
}

#hot-product > h3 {
  margin: 0;
  text-align: center;
  background: #ee2e24;
  border-radius: 10px 10px 0 0;
}

#hot-product h3 i {
  position: relative;
  height: 60px;
  line-height: 60px;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  padding-left: 53px;
}

#hot-product h3 i::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  background: url(../images/sprite.png) no-repeat -8px -204px;
  left: 0;
  top: -8px;
}

#hot-product-main {
  position: relative;
  padding: 15px;
  border: 2px solid #ee2e24;
  border-radius: 0 0 10px 10px;
  background: #fff;
}

#view-all {
  position: absolute;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
  color: #ee2e24;
  background: #fff;
  border: 1px solid #ee2e24;
  padding: 10px 64px;
  border-radius: 64px;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, 50%);
}

#view-all:hover {
  cursor: pointer;
  background: #ee2e24;
  color: #fff;
}

.products-list {
  margin-left: -5px !important;
  margin-right: -5px !important;
}

.product-item {
  border: none;
  border-radius: 10px;
  padding: 5px;
  margin-left: 5px !important;
  margin-right: 5px !important;
}

.product-item-top {
  position: relative;
  display: block;
}

.product-item-top i {
  position: absolute;
  content: "";
  width: 48px;
  height: 20px;
  background: url(../images/icon-hot.png) no-repeat;
  background-size: contain;
  top: 0;
  left: 0;
}

.product-item-top span {
  position: absolute;
  content: "";
  width: 45px;
  height: 45px;
  background: url(../images/icon-offer.png) no-repeat;
  background-size: contain;
  top: 0;
  right: 0;
}

.product-item h3 {
  padding-top: 10px;
  font-size: 13px;
}

.product-item h3 a {
  text-decoration: none;
  color: #333;
}

.product-item-price {
  display: flex;
}

.product-item-price p b {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #ee2e24;
}

.product-item-price p del {
  font-size: 13px;
  color: #888;
}

.product-item-price span {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #eee;
  background: url(../images/bg-discount.png) no-repeat;
  background-size: contain;
  margin-left: 10px;
}

.product-slide-button {
  width: 48px;
  height: 48px;
  background: #999;
  border-radius: 100%;
  top: 40%;
}

.product-item:hover img {
  transform: translateY(-8px);
  transition: all 0.2s;
}

.product-item img {
  transition: all 0.2s;
}
/* End Hot-Products */

/* Suggest */
#suggest-product {
  padding-bottom: 10px;
}

#suggest-product h3 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 22px;
  text-align: center;
}

#suggest-product-main {
  overflow: hidden;
  background: #fff;
}

.suggest-item {
  border: none;
  padding: 10px;
}

.suggest-item h4 {
  margin-top: 8px;
  height: 35px;
  line-height: 1.3;
  font-size: 13px;
  text-align: center;
}

.suggest-item > h4 > a {
  text-decoration: none;
  color: #3498db;
}

.suggest-item-price {
  text-align: center;
}

.suggest-item-price > p {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  color: #ee2e24;
  margin-bottom: 2px;
}

.suggest-item-price del {
  font-size: 12px;
  color: #555;
}

.suggest-item-top {
  display: block;
  position: relative;
}

.suggest-item-top > span {
  position: absolute;
  display: inline-block;
  font-size: 10px;
  padding: 4px 8px;
  border-radius: 2px;
  color: #000;
  background: #ffe749;
  top: -5px;
  right: -5px;
}

.suggest-item:hover > a > img {
  scale: 1.1;
  transition: all 0.2s;
}

.suggest-item > a > img {
  transition: all 0.2s;
}

#suggest-btn-prev {
  left: -60px;
  transform: scale(0.9);
  transition: all 0.3s;
}

#suggest-btn-next {
  right: -60px;
  transform: scale(0.9);
  transition: all 0.3s;
}

#suggest-product-main:hover #suggest-btn-prev {
  left: 10px;
  transition: all 0.3s;
}

#suggest-product-main:hover #suggest-btn-next {
  right: 10px;
  transition: all 0.3s;
}

/* End Suggest */

/* Promotions */
#promotion-main > h4 {
  font-weight: bold;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 10px;
}

#promotion-main ol li {
  height: 10px;
  width: 10px;
  border-radius: 100%;
  background: #fff;
  opacity: 0.5;
  border: none;
}

#promotion-main ol li.active {
  background: #ee2e24;
  opacity: 1;
}

.promotion-slide-ol {
  left: auto;
  right: auto;
  margin-left: 30%;
}

.promotion-slide-left {
  background: #fff;
}

.promotion-slide-left > a {
  position: relative;
  display: block;
}

.promotion-slide-left > a::before {
  position: absolute;
  content: "";
  width: 83px;
  height: 83px;
  background: url(../images/sprite.png) no-repeat -89px -203px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.promotion-slide-left > a:hover::before {
  filter: drop-shadow(2px 4px 6px #000);
}

.promotion-slide-right {
  padding-left: 10px;
}

.promotion-item:first-child {
  margin-bottom: 5px;
}

.promotion-item > div {
  box-shadow: 0 0 8px #c1c1c1;
}

.promotion-item:hover > div {
  box-shadow: none;
}

.promotion-item-img {
  background: #fff;
}

.promotion-item-right {
  padding: 25px 20px 25px 0;
  background: #fff;
}

.promotion-item-right > a {
  display: block;
  text-decoration: none;
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}
/* End Promotions */

/* Tab-products */
.tab-product {
  margin-top: 40px;
}

.tab-product > ul > li > button {
  color: #555;
  text-transform: uppercase;
  height: 42px;
  line-height: 42px;
  padding: 0 15px;
  border: 1px solid #b7b7b7 !important;
  border-radius: 8px !important;
  margin-right: 5px !important;
}

.tab-product > ul > li > button:hover,
.tab-product > ul > li > button.active {
  color: #fff;
  background: #ee2e24 !important;
  border-color: #ee2e24 !important;
}

/* Tab Products Tivi */
.product-item-text > p {
  white-space: nowrap;
  font-size: 20px;
  font-weight: bold;
  transform: translateX(-12%);
}

.product-item-0 {
  opacity: 0;
}

.product-item-bg {
  background: inherit;
}
/* End Tab Products Tivi */
/* End HomePage */
/* ------------------------------ */

/* News Food And Pico */
#news-food-and-pico {
  background: #fff;
  margin-top: 30px;
  padding-bottom: 10px;
}

#news-pico-title h4,
#news-food-title h4 {
  margin: 20px 0;
}

#news-pico-title a,
#news-food-title a {
  text-decoration: none;
  color: inherit;
}

#news-pico-title h4 a i,
#news-food-title h4 a i {
  display: inline-block;
  width: 44px;
  height: 44px;
  line-height: 44px;
  font-size: 18px;
  text-align: center;
  margin-right: 12px;
  color: #fff;
  background: #ee2e24;
  border-radius: 100%;
}

#news-pico-title h4 a:hover,
#news-food-title h4 a:hover {
  color: #364fc7;
}

/* news-pico-right */
#news-pico-right a,
#news-food-right a {
  position: relative;
  display: block;
  height: 170px;
  margin-bottom: 6px;
  border-radius: 8px;
  overflow: hidden;
}

#news-pico-right a::before,
#news-food-right a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 80%;
  bottom: 0;
  background: linear-gradient(0deg, #222, transparent);
  z-index: 1;
}

#news-pico-right-center a,
#news-food-right-center a {
  height: 346px;
}

#news-pico-right-center a > p > b,
#new-food-right-center a > p > b {
  text-transform: uppercase;
}

#news-pico-right a > p,
#news-food-right a > p {
  position: absolute;
  left: 0;
  bottom: 15px;
  display: flex;
  color: #e9e9e9;
  padding: 0 8px;
  margin: 0;
  z-index: 1;
}

.news-pico-right-time,
.news-food-right-time {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 52px;
  height: 60px;
  padding: 0 5px;
  margin-right: 10px;
  border: 1px solid #e9e9e9;
  border-radius: 6px;
}

.news-pico-right-day,
.news-food-right-day {
  border-bottom: 1px dashed #e9e9e9;
}

#news-pico-right a:hover p,
#news-food-right a:hover p {
  color: #fff;
}

#news-pico-right a:hover img,
#news-food-right a:hover img {
  transform: scale(1.15);
  transition: all 0.2s;
}

#news-pico-right img,
#news-food-right img {
  transition: all 0.2s;
}
/* End News Food And Pico */
/* ------------------------------ */

/* News Letter */
#news-letter {
  text-align: center;
  padding: 26px 0;
  color: #fff;
  background: #ee2e24;
}

#news-letter-main h3 {
  text-transform: uppercase;
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 0;
}

#news-letter-main form {
  position: relative;
  width: 620px;
  margin: 12px auto auto auto;
}

#news-letter-main form input {
  width: 100%;
  height: 42px;
  background: #fff;
  padding-left: 15px;
  border: none;
  border-radius: 8px;
}

#news-letter-right {
  position: absolute;
  color: #ee2e24;
  font-size: 30px;
  top: 6px;
  right: 8px;
  cursor: pointer;
}

#news-letter-main form input:focus {
  outline: none;
}
/* End News Letter */
/* ------------------------------ */

/* Footer */
/* Footer Top */
#footer-top {
  background: #fff;
}

#footer-top-left,
#footer-top-center,
#footer-top-right {
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
}

#footer-top-left a,
#footer-top-center a,
#footer-top-right a {
  position: relative;
  display: inline-block;
  text-align: left;
  text-decoration: none;
  text-transform: uppercase;
  color: #333;
  padding-left: 68px;
}

#footer-top-left a b,
#footer-top-center a b,
#footer-top-right a b {
  display: block;
  font-size: 16px;
}

#footer-top-left a span,
#footer-top-center a span,
#footer-top-right a span {
  font-size: 13px;
  color: #555;
}

#footer-top-left a::before,
#footer-top-center a::before,
#footer-top-right a::before {
  position: absolute;
  content: "";
  width: 48px;
  height: 48px;
  top: 0;
  left: 0;
}
#footer-top-left a::before {
  background: url(../images/sprite.png) no-repeat -6px -102px;
}
#footer-top-center a::before {
  background: url(../images/sprite.png) no-repeat -81px -102px;
}
#footer-top-right a::before {
  background: url(../images/sprite.png) no-repeat -153px -102px;
}
/* End Footer Top */

/* Footer Main */
#footer-main {
  background: #fff;
  border-top: 1px dashed #e1e1e1;
  padding-top: 15px;
  padding-bottom: 15px;
}

#footer-main b {
  font-size: 16px;
}

#footer-main-1-info {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

#footer-main-1-info a {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 12px;
  color: inherit;
  margin-bottom: 5px;
}

#footer-main-1-info a i {
  margin-right: 5px;
  color: #ee2e24;
}

#footer-main-1-info a:nth-child(2):hover,
#footer-main-1-info a:nth-child(3):hover,
#footer-main-1-info a:nth-child(5):hover,
#footer-main-1-info a:nth-child(6):hover {
  color: #ee2e24;
}

#footer-main-1-social {
  display: flex;
  padding-left: 32px;
  margin: 10px 0;
}

#footer-main-1-social a {
  display: block;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  transition: all 0.2s;
}

#footer-main-1-social a:nth-child(1) {
  background: url(../images/sprite.png) no-repeat -226px -102px;
}

#footer-main-1-social a:nth-child(2) {
  background: url(../images/sprite.png) no-repeat -286px -102px;
}

#footer-main-1-social a:nth-child(3) {
  background: url(../images/sprite.png) no-repeat -344px -102px;
}

#footer-main-1-social a:hover {
  transform: translateY(-5px);
  transition: all 0.2s;
}

/* footer-main-2 */
#footer-main-2 a {
  display: block;
  text-decoration: none;
  font-size: 12px;
  color: inherit;
  margin: 10px 0;
}

#footer-main-2 p {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #fff;
  background: #ee2e24;
  padding: 10px 0;
  margin-bottom: 0;
  width: 180px;
  border-radius: 6px;
}

#footer-main-2 p i {
  margin-right: 5px;
}
#footer-main-2 a img {
  width: 125px;
}

#footer-main-2 a:hover {
  color: #ee2e24;
}

#footer-main-2 p:hover {
  cursor: pointer;
  background: #cd020b;
}

/* footer-main-3 */
#footer-main-3 a {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: inherit;
  margin: 10px 0;
}

#footer-main-3 a:hover {
  cursor: pointer;
  color: #ee2e24;
}

/* footer-main-4 */
#footer-main-4 .footer-main-4-pay {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.footer-main-4-fanpage-dip {
  margin: 10px 0;
}

.footer-main-4-pay a:nth-child(1) {
  display: block;
  width: 58px;
  height: 18px;
  background: url(../images/sprite.png) no-repeat -146px -166px;
}

.footer-main-4-pay a:nth-child(2) {
  display: block;
  width: 46px;
  height: 22px;
  background: url(../images/sprite.png) no-repeat -8px -165px;
}

.footer-main-4-pay a:nth-child(3) {
  display: block;
  width: 50px;
  height: 22px;
  background: url(../images/sprite.png) no-repeat -210px -164px;
}

.footer-main-4-pay a:nth-child(4) {
  display: block;
  width: 58px;
  height: 22px;
  background: url(../images/sprite.png) no-repeat -68px -162px;
}

/* End Footer Main */

/* Footer Bottom */
#footer-bottom {
  padding: 20px 0;
  text-align: center;
}

#footer-bottom p {
  font-size: 12px;
  margin: 0;
}

#footer-bottom a {
  text-decoration: none;
  color: #ee2e24;
}
/* End Footer Bottom */
/* End Footer */
/* ------------------------------ */

/* Responsive */
/* ---Laptop, PC */
@media (min-width: 992px) {
  #menu > ul {
    display: block;
  }

  #menu > h3 > a > button {
    display: none;
  }
}
/* End Laptop, PC */
/* ------------------------------ */

/* ---Tablet */
@media (min-width: 768px) and (max-width: 992px) {
  /* Header */
  #header-main {
    padding-bottom: 40px;
  }
  #header-top-right a {
    margin-left: 15px;
  }

  #follow a,
  #user a {
    padding-left: 30px;
  }

  #header-main-bottom {
    display: none;
  }
  /* End Header*/

  /* Homepage */
  #menu > h3 > a > i {
    display: none;
  }

  #menu > h3 > a > button > span {
    color: #fff;
  }

  .menu-item:hover .sub-menu {
    display: none;
  }

  .product-item-price span {
    padding: 0 4px;
  }

  .suggest-item-price > p {
    font-size: 16px;
    margin-top: 6px;
  }

  .promotion-item-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 25px 40px 25px 0;
  }

  .promotion-item-right > a {
    font-size: 16px;
  }

  .promotion-slide-ol {
    left: 0;
    right: 0;
    margin-left: 15%;
  }
}
/* End HomePage */
/* End Tablet */

/* ------------------------------ */
/* ---Mobile */
@media (max-width: 768px) {
  /* Header */
  #header-main-top {
    padding-bottom: 40px;
  }

  #header-top-right a {
    margin-left: 10px;
  }

  #header-top-right a:nth-child(1),
  #header-top-right a:nth-child(2),
  #header-top-right a:nth-child(5) {
    display: none;
  }

  #follow,
  #user {
    display: none;
  }

  #search form input {
    width: 220px;
  }

  #header-main-bottom {
    display: none;
  }
  /* End Header */

  /* HomePage */
  #menu > h3 > a > i {
    display: none;
  }

  #menu > h3 > a > button > span {
    color: #fff;
  }

  .menu-item:hover .sub-menu {
    display: none;
  }

  #view-all {
    padding: 10px 20px;
  }

  #promotion-main > h4 {
    font-size: 20px;
  }

  .promotion-slide-ol {
    left: 0;
    right: 0;
    margin-left: 15%;
  }

  #banner-bottom {
    margin: 0;
  }

  #hot-products,
  #suggest-products {
    padding-bottom: 0;
    padding-top: 0;
  }

  .promotion-item-right {
    text-align: center;
    padding: 10px 0 20px 0;
  }

  .promotion-price {
    justify-content: center;
  }

  #news-letter-main form {
    width: 100%;
  }
  /* End HomePage */

  /* -----News Food And Pico----- */
  #news-pico-title > h4,
  #news-food-title > h4 {
    font-size: 20px;
  }
  /* -----End News Food And Pico----- */

  /* -----News Letter----- */
  #news-letter-main > h3 {
    font-size: 20px;
  }
  /* -----End News Letter----- */

  /* -----Footer----- */
  #footer-top-left,
  #footer-top-center,
  #footer-top-right {
    text-align: left;
  }
  /* -----End Footer------ */
}
/* End Mobile */
/* ------------------------------ */
